*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: poppins;
}

.hero{
width: 750px;
min-height: 100vh;
background-image: url(file:///C:/Users/tashe/Downloads/CODING%20CAGES/totally%20awed/shoes.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 10px 10%;
overflow: hidden;
margin: 15px;
margin-right: 10px;
}

nav{
padding: 10px 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
width:100px;
}

nav ul li{
display: inline-block;
list-style: none;
margin: 10px 15px;
font-size: 20px;
}

nav ul li a{
text-decoration: none;
color: green;
}


h1{
font-size: 80px;
color: black ;
font-weight: 5px;
letter-spacing: 600;
position: absolute;
display: flex;
margin-left: 550px;
margin-top: 200px;
z-index: 1;
}


h1::before, h1::after{
content: '';
padding:70px ;
position: absolute;
left: 0;
top: 50%;
display: block;
transform: translateX(-50%) translateY(-50%) rotate(0);  
animation: spin 6s alternate infinite ease-in-out;
}

h1::before{
border-top:15px solid green;
border-left:15px solid green;
}

h1::after{
border-right:15px solid green ;
border-bottom: 15px solid green;
z-index: -1;
}
@keyframes spin{
100%{
    transform: translateX(-50%) translateY(-50%) rotate(360deg);  
}
}

a:focus{
outline: none;
}



























































